body {
  //background: #000428;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  //overflow: hidden;
}

// 解决 CM 样式被全局的影响
.CodeMirror-line {
  text-align: left;
}

:root {
  --color-white: #ffffff;
}

// scass 全局变量 //

//$ColorWhite: #ffffff